- form_for @mustelid do |f|
  = f.error_messages

  %p
    = f.label :name
    = f.text_field :name

  %p
    = render :partial => "latin_" + sel_edit
  %p
    - f.fields_for :detaloj do |d|
      = d.label :color
      = d.text_field :color
      %br
      = d.label :condylobassal_length
      = d.text_field :condylobassal_length
      %br
      = d.label :image
      = d.file_field :image
  %p
    %label{:for => "location"}
      Location:
      = select_tag "location", get_options_for_locations(nil, @mustelid.location.nil? ? 0 : @mustelid.location.id, true)
  %p
    = f.submit save_update
